
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,800&display=swap');


.main::-webkit-scrollbar{
    display: none;
 
}
.main{
    height: 80vh;
}
.input{
    outline: none;
    border-bottom: 2px red solid;
}
.label{
    position: relative;
    display: block;
    transform: translateY(-2rem) translateX(-0rem);
    color: red;
    transition: all 0.5s linear;
}
.head:focus-within .label ,input:not(:placeholder-shown) + .label {
    transform: translateY(-3rem);
}
 .login{
    font-family: 'Playfair Display', serif;
     z-index: -1;
    width:  100%;
    text-align: center;
    font-size: 2rem;
     background: #121FCF;
    background: repeating-linear-gradient(to right, #121FCF 0%, #CF1512 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: fixed;
    animation: text .4s infinite forwards;
    
 }
 @keyframes text {
    0%{

    }
    100%{
        filter: hue-rotate(360deg);
    }
    
 }
.submit{
    border-radius: 2rem;
    border: 1px blue dotted ;
    padding: 0.7rem;
}
/* "fixed left-0 bg-blue-300 h-full top-0 pt-4    "  */
 
.sidebar{
    position: fixed;
    height: 100%;
    padding-top: 4px;
    top: 0%;
    left: 0%;
    background-color: rgb(93, 114, 230);
    animation: sidebar 0.8s  backwards;
}
@keyframes sidebar {
0%{
    left:-60vw;
}
to{
    left: -0%;
}
}